In [16]:
name="Vijay deenanath Chauhan"

In [17]:
for i,c in enumerate(name):
    print(i,c)

0 V
1 i
2 j
3 a
4 y
5
6 d
7 e
8 e
9 n
10 a
11 n
12 a
13 t
14 h
15
16 C
17 h
18 a
19 u
20 h
21 a
22 n

In [18]:
f= name[:6]
print(f)

Vijay

In [20]:
s=name[6:16]
print(s)

deenanath

In [22]:
l=name[16:]
print(l)

Chauhan

In [23]:
name[::2]

'VjydeaahCahn'

In [24]:
name[1::2]

'ia ennt hua'

In [25]:
for i in range(65,91):
    print(chr(i), end=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [26]:
chr(452345)

'\U0006e6f9'

In [28]:
chr(3454)

'ൾ'

In [29]:
print(ord('z'))

122

In [1]:
x=chr(2365)
print(x)

ऽ

In [2]:
y=ord('a')
print(y)

97

In [8]:
x='alphabet'

In [9]:
x.upper()

'ALPHABET'

In [10]:
x.lower()

'alphabet'

In [4]:
y= 
y.split()

['alphabet']

In [12]:
poem='''Twinkle twinkle, little star,
how i wonder what u are!
up above the world so high ,
like a diamond in the sky.
'''

In [17]:
poem.split()

['Twinkle',
 'twinkle,',
 'little',
 'star,',
 'how',
 'i',
 'wonder',
 'what',
 'u',
 'are!',
 'up',
 'above',
 'the',
 'world',
 'so',
 'high',
 ',',
 'like',
 'a',
 'diamond',
 'in',
 'the',
 'sky.']

In [16]:
len(poem.split())

23

In [14]:
poem.splitlines()

['Twinkle twinkle, little star,',
 'how i wonder what u are!',
 'up above the world so high ,',
 'like a diamond in the sky.']

In [15]:
len(poem.splitlines())

4

In [26]:
poem.find('star')

24

In [27]:
poem.find('Twinkle')

0

In [29]:
new_poem = poem.replace('a','o')
print(new_poem)

Twinkle twinkle, little stor,
how i wonder whot u ore!
up obove the world so high ,
like o diomond in the sky.

In [34]:
new_poem = poem.replace('Twinkle','prada').replace('how','what')
print(new_poem)

prada twinkle, little star,
what i wonder what u are!
up above the world so high ,
like a diamond in the sky.

In [43]:
poem.replace('a','').replace('e','').replace('i','').replace('o','').replace('u','')

'Twnkl twnkl, lttl str,\nhw  wndr wht  r!\np bv th wrld s hgh ,\nlk  dmnd n th sky.\n'

In [44]:
poem.count('i')

8

In [45]:
path=['C:','Users','HP','Document']

In [46]:
''.join(path)

'C:UsersHPDocument'

In [47]:
'/'.join(path)

'C:/Users/HP/Document'